numpy
pickle-mixin
streamlit
seaborn
pandas
matplotlib
scikit_learn
tensorflow
keras
opencv_python_headless
torch
torchvision
clip
git+https://github.com/facebookresearch/segment-anything.git
tensorflow
tensorflow-hub